    <div id="header">
      <div class="container">
        <p id="logo"><a href="http://www.hihey.com/" title="HIHEY.COM"><img src="<%=asset_path("logo.gif")%>" alt="HIHEY.COM"/></a></p>
        <p class="user_area" id="user_area"><a href="register" class="register">注册</a>
          <a href="login" class="login quick_login">登录</a>
        </p>
        <!--div class="cart" id="cart">
          <p class="cart_info"><a href="checkout" title="查看购物车">购物车<em>0</em></a></p>
        </div-->
        <form method="get" action="search.php" class="search" id="search">
          <input type="text" name="keywords" value="" title="请输入您想要的作品" tabindex="1" class="keyword" id="keyword"/>
          <input type="submit" value="搜索" class="submit" />
        </form>
        <div class="top_nav"><div class="nav">
            <ul class="level_1">
              <li class="level_1 first parent">
                <a href="/home/artworks" class="level_1"><strong><span>发现艺术</span></strong></a>
                <div class="sub_nav">
                  <div class="inner">
                    <ul class="level_2 clearfix">
                      <!--li class="level_2 first"><a href="painting" class="level_2"><span>油画</span></a></li>
                      <li class="level_2"><a href="sculpture" class="level_2"><span>雕塑</span></a></li>
                      <li class="level_2"><a href="drawing" class="level_2"><span>绘画</span></a></li>
                      <li class="level_2"><a href="photograph" class="level_2"><span>摄影</span></a></li>
                      <li class="level_2"><a href="print" class="level_2"><span>版画</span></a></li>
                      <li class="level_2"><a href="ink" class="level_2"><span>水墨</span></a></li>
                      <li class="level_2"><a href="ceramic" class="level_2"><span>陶瓷</span></a></li-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="level_1 parent">
                <a href="/home/artists" class="level_1"><strong><span>艺术家</span></strong></a>
                <!--div class="sub_nav">
                  <div class="inner">
                    <ul class="level_2 clearfix">
                      <li class="level_2 first"><a href="gallery" class="level_2"><span>画廊</span></a></li>
                      <li class="level_2"><a href="http://www.hihey.com/open" class="level_2" rel="external"><span>签约/合作</span></a></li>
                    </ul>
                  </div>
                </div-->
              </li>
              <li class="level_1 parent">
                <a href="show" class="level_1"><strong><span>展览/活动</span></strong></a>
                <div class="sub_nav">
                  <div class="inner">
                    <ul class="level_2 clearfix">
                      <li class="level_2 first"><a href="show" class="level_2"><span>展览</span></a></li>
                      <li class="level_2"><a href="talk" class="level_2"><span>讲座/论坛</span></a></li>
                      <li class="level_2"><a href="special" class="level_2"><span>特别项目</span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <!--li class="level_1 parent">
                <a href="auction" class="level_1"><strong><span>在线拍卖<em class="notice">9</em></span></strong></a>
                <div class="sub_nav">
                  <div class="inner">
                    <ul class="level_2 clearfix">
                      <li class="level_2 first"><a href="event.php?type=pre_start" class="level_2"><span>预展</span></a></li>
                      <li class="level_2"><a href="event.php?type=under_way" class="level_2"><span>拍卖中</span></a></li>
                      <li class="level_2"><a href="event.php?type=finished" class="level_2"><span>已成交</span></a></li>
                    </ul>
                  </div>
                </div>
              </li-->
              <!--li class="level_1 parent">
                <a href="star" class="level_1"><strong><span>达人</span></strong></a>
                <div class="sub_nav">
                  <div class="inner">
                    <ul class="level_2 clearfix">
                      <li class="level_2 first"><a href="newart" class="level_2"><span>中国新艺术</span></a></li>
                      <li class="level_2"><a href="topstar" class="level_2" rel="external"><span>达人榜</span></a></li>
                      <li class="level_2"><a href="miss" class="level_2" rel="external"><span>嘿姐</span></a></li>
                    </ul>
                  </div>
                </div>
              </li-->
              <!--li class="level_1">
                <a href="http://www.hihey.com/open#top" class="level_1"><strong><span>签约合作</span></strong></a>
              </li-->
            </ul>
          </div>
        </div>
        <div class="switcher">
          <!--div class="language_switcher">
            <a href="/" class="tip flag_cn current_cn" title="简体中文">简体中文</a>
            <a href="/en/" class="tip flag_en" title="English">English</a>
          </div-->
          <div class="online_chat">
            <a href="http://float2006.tq.cn/static.jsp?version=vip&admiuin=9390999&ltype=0&iscallback=0&page_templete_id=43294&is_message_sms=0&is_send_mail=3&uin=9390999" rel="external">在线客服</a>
          </div>
        </div>
      </div>
    </div>