
<div id="footer">
  <div class="container">
    <div class="help clearfix">
      <div class="articles">
        <dl class="first">
          <dt><a href="buyart">购买艺术</a></dt>
          <dd><a href="article-12.html">新手上路</a></dd>
          <dd><a href="article-15.html">高级搜索</a></dd>
          <dd><a href="article-34.html">提货物流</a></dd>
          <dd><a href="glossary">词典</a></dd>
          <dd><a href="pay">支付方式</a></dd>
          <dd><a href="bidsecurity">竞拍保证金</a></dd>
        </dl>
        <dl>
          <dt><a href="sellart">销售艺术</a></dt>
          <dd><a href="open">艺术家/画廊合作</a></dd>
          <dd><a href="article-11.html">在线签约</a></dd>
          <dd><a href="ads">广告与推广</a></dd>
        </dl>
        <dl>
          <dt><a href="service">专业服务</a></dt>
          <dd><a href="vip">VIP/SVIP</a></dd>
          <dd><a href="article-33.html">展览/活动服务</a></dd>
          <dd><a href="corpart">企业艺术服务</a></dd>
          <dd><a href="artbank">艺术银行</a></dd>
        </dl>
        <dl>
          <dt><a href="article_cat-7.html">媒体中心</a></dt>
          <dd><a href="article-21.html">新闻稿</a></dd>
          <dd><a href="article-55.html">媒体报道</a></dd>
          <dd><a href="article-173.html">奖项荣誉</a></dd>
          <dd><a href="article-186.html">一句话评论</a></dd>
          <dd><a href="article-187.html">媒体问答</a></dd>
          <dd><a href="article-343.html">TA来过HIHEY</a></dd>
        </dl>
        <dl>
          <dt><a href="aboutus">关于我们</a></dt>
          <dd><a href="timeline">大事记</a></dd>
          <dd><a href="contact">联系我们</a></dd>
          <dd><a href="company">公司介绍</a></dd>
          <dd><a href="article-13.html">工作机会</a></dd>
          <dd><a href="ir">投资者关系</a></dd>
          <dd><a href="principles">业务原则</a></dd>
          <dd><a href="links">友情链接</a></dd>
        </dl>
      </div>
    </div>
    <p class="copyright">&copy; 2013 lavan-gallery.com&nbsp;版权所有&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" rel="external">粤ICP备050060xx号</a></p>
    <p class="credits"></p>
  </div>
</div>

